body,html{
    padding: 0;
    margin: 0;
}


#home{
    display: inline-block;
    
}

.nav {
	
}

#myNavbar {
	width: inherit;
}


@media(max-width: 767px){
   #search{
        text-align: center;
    }


    #sort{
        text-align: center;
    } 
    
    #home{
        text-align: center;
    }
    
    input, select{
    width: 100%;
    margin: 5px 0px;
           min-height: 30px;
        border: none;
        background: rgb(30,100,150);
        color: white !important;
        font-family: sans-serif;
        text-transform: capitalize;
     border-radius: 2px;
        font-weight: 700;
}

    
    input::-webkit-input-placeholder{
        color: white;
        text-align: center;
    }

    
}
ul.nav.navbar-nav.col-xs-12{
    margin: 0;
    padding: 0;
}
.blue-color{
    background-color: dodgerblue!important;
    background-image: unset;
    border: 0;
    border-radius: 0;
    
}
.pix{
    height: 700px;
    
}
.move{
  
    object-fit: cover;
}
footer{
    width: 50%;
    margin: 0 auto;
}


@media(min-width: 768px){
    
    
   #search{
        text-align: center;
    }


    #sort{
        text-align: right;
    } 
    
    input, select{
    width: 50%;
        min-height: 30px;
        border: none;
        background: rgb(30,100,150);
        color: white !important;
        font-family: sans-serif;
        text-transform: capitalize;
    margin: 10px 0px 0px;
        border-radius: 2px;
        font-weight: 700;
}
    .pix{
        height: 800px;
    }
    
    input::-webkit-input-placeholder{
        color: white;
        text-align: center;
    }

}
